@model KnowYourProfDesign.Models.ContactUs

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ContactUs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactSubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContactID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
