
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!-- /hero slider -->
<!-- banner-feature -->
<!--If Doesnot work copy it right to second top position _MyLayout.cshtml -->

<head>
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />

</head>

<section class="MyCustomBackground hero-section overlay bg-cover ">
    <div class="container">
        <div class="hero-slider">
            <!-- slider item -->
            <div class="hero-slider-item">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="text-white" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".1">A teacher affects an eternity:</h1>
                        <h2 class="text-white" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".1">They can never tell where their influence stops.</h2>
                       
                        
                    </div>
                </div>
            </div>
            <!-- slider item -->
            <div class="hero-slider-item">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="text-white" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">Can't find what you are looking for?</h1>
                        <p class="text-muted mb-4" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".4">
                            
                        </p>
                        <a href="@Url.Action("Index", "ContactUs")" class="btn btn-primary" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".7">Let us know</a>
                    </div>
                </div>
            </div>
            <!-- slider item -->
            <div class="hero-slider-item">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="text-white" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Help us make a difference.</h1>
                        <h2 class="text-white" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Tell us about your teacher.</h2>
                   
                        <a href="@Url.Action("ShowTeacherList", "Master")" class="btn btn-primary" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="zoomIn" data-delay-in=".7">Try now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /hero slider -->
<!-- banner-feature -->
<section class="bg-gray">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-xl-4 col-lg-5 align-self-end">
                <img class="img-fluid w-100" src="~/images/secban.jpg" alt="banner-feature">
            </div>
            <div class="col-xl-8 col-lg-7">
                <div class="row feature-blocks bg-gray justify-content-between">
                    <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                        <i class="ti-book mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
                        <a href="http://aust.edu/directory.htm"><h3 class="mb-xl-4 mb-lg-3 mb-4">Departments</h3></a>
                        <p>
                            Choose from a variety of Engineering subjects you think suits you the most.
                        </p>
                    </div>
                    <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                        <i class="ti-blackboard mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
                        <a href="http://aust.edu/news_events.htm"><h3 class="mb-xl-4 mb-lg-3 mb-4">News and Events</h3></a>
                        <p>
                            Keep yourself up-to-date with all the new and exciting things happening around the campus!
                        </p>
                    </div>
                    <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                        <i class="ti-agenda mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
                        <a href="http://aust.edu/publication/index.htm"><h3 class="mb-xl-4 mb-lg-3 mb-4">Publications</h3></a>
                        <p>
                           Get familiar with all the amazing work that our faculty members have done over the years. 
                        </p>
                    </div>
                    <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                        <i class="ti-write mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
                        <a href="http://aust.edu/admission.htm"><h3 class="mb-xl-4 mb-lg-3 mb-4">Admission Info</h3></a>
                        <p>

                            Admission notice and related information.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /banner-feature -->
<!-- about us -->
<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-2 order-md-1">
                <h2 class="section-title">Why do we exist?</h2>
             
                <p>The sole purpose of this website is to create a bridge between  Teachers and  Students where Students can learn and provide their feedback on the Teachers. </p>
                
               
            </div>
            <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0">
                <img class="img-fluid w-100" src="~/images/whydo.jpg" alt="about image">
            </div>
        </div>
    </div>
</section>
<!-- /about us -->
<!-- courses -->
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center section-title justify-content-between">
                    <h2 class="mb-0 text-nowrap mr-3">More From Us!</h2>
                    <div class="border-top w-100 border-primary d-none d-sm-block"></div>
                    
                </div>
            </div>
        </div>
        <!-- course list -->
        @*https://www.freepik.com/free-photo/traveller-pointing-blank-notepad_1509889.htm*@
        <div class="row justify-content-center">
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="~/Content/images/courses/programming.jpg" alt="course thumb">
                    <div class="card-body">
                        <ul class="list-inline mb-2"></ul>
                        <a href="https://www.youtube.com/user/dipmessi10">
                            <h4 class="card-title">Programming</h4>
                        </a>
                        <p class="card-text mb-4">
                            Find the best tutorials here!
             
                        </p>
                        @*<a href="course-single.html" class="btn btn-primary btn-sm">Apply now</a>*@
                    </div>
                </div>
            </div>
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="~/Content/images/courses/photography.jpg" alt="course thumb">
                    <div class="card-body">
                        <ul class="list-inline mb-2"></ul>
                        <a href="course-single.html">
                            <h4 class="card-title">Photography</h4>
                        </a>
                        <p class="card-text mb-4">
                            <br />
                        </p>

                    </div>
                </div>
            </div>

            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="~/Content/images/courses/tourist.jpg" alt="course thumb">
                    <div class="card-body">
                        <ul class="list-inline mb-2"></ul>
                        <a href="course-single.html">
                            <h4 class="card-title">Travelling</h4>
                            <br />
                            <br />
                            <br />
                        </a>


                    </div>
                </div>
            </div>
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="~/Content/images/courses/reading.jpg" alt="course thumb">
                    <div class="card-body">
                        <ul class="list-inline mb-2">
                       
                        </ul>
                        <a href="course-single.html">
                            <h4 class="card-title">Reading</h4>
                        </a>
                        <p class="card-text mb-4">
                    
                                <br /> <br />
                        </p>
                   
                    </div>
                </div>
            </div>
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="~/Content/images/courses/creativewriting.jpg" alt="course thumb">
                    <div class="card-body">
                        <ul class="list-inline mb-2">
                            @*<li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
                            <li class="list-inline-item"><a class="text-color" href="#">Humanities</a></li>*@
                        </ul>
                        <a href="course-single.html">
                            <h4 class="card-title">Creative Wrting</h4>
                        </a>
                        <p class="card-text mb-4">
                            <br /><br />
                        </p>
  
                    </div>
                </div>
            </div>
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="~/Content/images/courses/artdesign.jpg" alt="course thumb">
                    <div class="card-body">
                        <ul class="list-inline mb-2">
                        
                        </ul>
                        <a href="course-single.html">
                            <h4 class="card-title">Art Design</h4>
                        </a>
                        <p class="card-text mb-4">
                            <br /><br />
                        </p>
                
                    </div>
                </div>
            </div>
        </div>
        <!-- /course list -->
        <!-- mobile see all button -->
        <div class="row">
            <div class="col-12 text-center">
                <a href="@Url.Action("ShowTeacherList", "Master")" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">sell all</a>
            </div>
        </div>
    </div>
</section>
<!-- /courses -->
<!-- cta -->
<section class="section bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h6 class="text-white font-secondary mb-0">Click to visit our University Website</h6>
                <h2 class="section-title text-white">Ahsanullah University of Science and Technology</h2>
                <a href="http://www.aust.edu" class="btn btn-secondary">Go!</a>
            </div>
        </div>
    </div>
</section>
<!-- /cta -->
<!-- success story -->
<section class="section bg-cover SuccessStory">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-4 position-relative success-video">
                
            </div>
            <div class="col-lg-6 col-sm-8">
                <div class="bg-white p-5">
                    <h2 class="section-title">Success Stories</h2>
                    <h6>A lot of our faculty memebers are now living on different parts of the world to quench their thirst for learning.</h6>
                    <h6><a href="https://www.facebook.com/ahsan2010">Muhammad Ahsanuzzaman</a>, <a href="https://www.facebook.com/kabir.neamul">Neamul Kabir</a> and <a href="https://www.facebook.com/crysoberil">Jisan Mahmud</a> and many others are now living abroad for higher studies.</h6>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /success story -->
<!-- events -->
@*<section class="section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center section-title justify-content-between">
                    <h2 class="mb-0 text-nowrap mr-3">Upcoming Events</h2>
                    <div class="border-top w-100 border-primary d-none d-sm-block"></div>
                    <div>
                        <a href="events.html" class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block">see all</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- event -->
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                <div class="card border-0 rounded-0 hover-shadow">
                    <div class="card-img position-relative">
                        <img class="card-img-top rounded-0" src="~/images/events/event-1.jpg" alt="event thumb">
                        <div class="card-date"><span>18</span><br>December</div>
                    </div>
                    <div class="card-body">
                        <!-- location -->
                        <p><i class="ti-location-pin text-primary mr-2"></i>Harvard, Usa</p>
                        <a href="event-single.html"><h4 class="card-title">Toward a public philosophy of justice</h4></a>
                    </div>
                </div>
            </div>
            <!-- event -->
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                <div class="card border-0 rounded-0 hover-shadow">
                    <div class="card-img position-relative">
                        <img class="card-img-top rounded-0" src="~/images/events/event-2.jpg" alt="event thumb">
                        <div class="card-date"><span>21</span><br>December</div>
                    </div>
                    <div class="card-body">
                        <!-- location -->
                        <p><i class="ti-location-pin text-primary mr-2"></i>Cambridge, USA</p>
                        <a href="event-single.html"><h4 class="card-title">Research seminar in clinical science.</h4></a>
                    </div>
                </div>
            </div>
            <!-- event -->
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                <div class="card border-0 rounded-0 hover-shadow">
                    <div class="card-img position-relative">
                        <img class="card-img-top rounded-0" src="~/images/events/event-3.jpg" alt="event thumb">
                        <div class="card-date"><span>23</span><br>December</div>
                    </div>
                    <div class="card-body">
                        <!-- location -->
                        <p><i class="ti-location-pin text-primary mr-2"></i>Dhanmondi Lake, Dhaka</p>
                        <a href="event-single.html"><h4 class="card-title">Firefly training in trauma-informed yoga</h4></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile see all button -->
        <div class="row">
            <div class="col-12 text-center">
                <a href="course.html" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">sell all</a>
            </div>
        </div>
    </div>
</section>*@
<!-- /events -->
<!-- teachers -->
<section class="section">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center section-title justify-content-between">
                    <h2 class="section-title">Our Teachers</h2>
                    <div class="border-top w-100 border-primary d-none d-sm-block"></div>
                    <div>
                        <a href="@Url.Action("ShowTeacherList", "Master")" class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block">see all</a>
                    </div>
                </div>
            </div>
        </div>



        <div class="row justify-content-center">
            <div class="col-12">
                
            </div>
            <!-- teacher -->
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                <div class="card border-0 rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="~/Content/images/MyImages/nayeemsir.jpg" alt="teacher">
                    <div class="card-body">
                     
                            <h4 class="card-title">Mir Tafseer Nayeem</h4>
                        </a>
                        <p>Teacher</p>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
                            <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
                            <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
                            <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- teacher -->
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                <div class="card border-0 rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="~/Content/images/MyImages/shoebsirfinal.jpg" alt="teacher">
                    <div class="card-body">
               
                      
                            <h4 class="card-title">Shoeb Shahriar</h4>
                        </a>
                        <p>Teacher</p>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
                            <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
                            <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
                            <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- teacher -->
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                <div class="card border-0 rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="~/Content/images/MyImages/fatimamam.jpg" alt="teacher">
                    <div class="card-body">
             
                            <h4 class="card-title">Fatima Mirza</h4>
                        </a>
                        <p>Teacher</p>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
                            <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
                            <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
                            <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /teachers -->
<!-- blog -->
@*<section class="section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">Latest News</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- blog post -->
            <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="~/images/blog/post-1.jpg" alt="Post thumb">
                    <div class="card-body">
                        <!-- post meta -->
                        <ul class="list-inline mb-3">
                            <!-- post date -->
                            <li class="list-inline-item mr-3 ml-0">August 28, 2019</li>
                            <!-- author -->
                            <li class="list-inline-item mr-3 ml-0">By Jonathon</li>
                        </ul>
                        <a href="blog-single.html">
                            <h4 class="card-title">The Expenses You Are Thinking.</h4>
                        </a>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicin</p>
                        <a href="blog-single.html" class="btn btn-primary btn-sm">read more</a>
                    </div>
                </div>
            </article>
            <!-- blog post -->
            <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="~/images/blog/post-2.jpg" alt="Post thumb">
                    <div class="card-body">
                        <!-- post meta -->
                        <ul class="list-inline mb-3">
                            <!-- post date -->
                            <li class="list-inline-item mr-3 ml-0">August 13, 2019</li>
                            <!-- author -->
                            <li class="list-inline-item mr-3 ml-0">By Jonathon Drew</li>
                        </ul>
                        <a href="blog-single.html">
                            <h4 class="card-title">Tips to Succeed in an Online Course</h4>
                        </a>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicin</p>
                        <a href="blog-single.html" class="btn btn-primary btn-sm">read more</a>
                    </div>
                </div>
            </article>
            <!-- blog post -->
            <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="~/images/blog/post-3.jpg" alt="Post thumb">
                    <div class="card-body">
                        <!-- post meta -->
                        <ul class="list-inline mb-3">
                            <!-- post date -->
                            <li class="list-inline-item mr-3 ml-0">August 24, 2018</li>
                            <!-- author -->
                            <li class="list-inline-item mr-3 ml-0">By Alex Pitt</li>
                        </ul>
                        <a href="blog-single.html">
                            <h4 class="card-title">Orientation Program for the new students</h4>
                        </a>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicin</p>
                        <a href="blog-single.html" class="btn btn-primary btn-sm">read more</a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>*@
<!-- /blog -->

<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-9 ml-auto bg-primary py-5 newsletter-block">
                <h3 class="text-white">Subscribe Now</h3>
                <form action="#">
                    <div class="input-wrapper">
                        <input type="email" class="form-control border-0" id="newsletter" name="newsletter" placeholder="Enter Your Email...">
                        <button type="submit" value="send" class="btn btn-primary">Join</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>